extends base.pug

block style 
    link(rel="stylesheet", href="../static/styles/projectsStyle.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", integrity="sha384-...your-unique-CSS-integrity-hash...", crossorigin="anonymous")

block content 
    H1#projects-heading Projects
    div#projects-container
        div#project-1
            h2 Project Name 01
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia ab eum perspiciatis quidem nam mollitia molestiae culpa necessitatibus nihil dolorum placeat facere voluptas magnam accusamus consequuntur laboriosam maiores cupiditate eligendi et, ea illum quaerat harum aperiam. Placeat est, dolor nobis reprehenderit quasi quaerat veniam.
            img(src="../static/image/projects-img.jpg", alt="")
        
        div#project-2
            h2 Project Name 02
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia ab eum perspiciatis quidem nam mollitia molestiae culpa necessitatibus nihil dolorum placeat facere voluptas magnam accusamus consequuntur laboriosam maiores cupiditate eligendi et, ea illum quaerat harum aperiam. Placeat est, dolor nobis reprehenderit quasi quaerat veniam.
            img(src="../static/image/projects-img.jpg", alt="")
        
        div#project-3
            h2 Project Name 03
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia ab eum perspiciatis quidem nam mollitia molestiae culpa necessitatibus nihil dolorum placeat facere voluptas magnam accusamus consequuntur laboriosam maiores cupiditate eligendi et, ea illum quaerat harum aperiam. Placeat est, dolor nobis reprehenderit quasi quaerat veniam.
            img(src="../static/image/projects-img.jpg", alt="")