extends base.pug

block style 
    link(rel="stylesheet", href="../static/styles/resumeStyle.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", integrity="sha384-...your-unique-CSS-integrity-hash...", crossorigin="anonymous")

block content 
    div#resume-content
        i.fas.fa-file-pdf
        h1 Your Resume pdf here...


